@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #616161 !important;
}

.main-container {
    min-height: 100vh;
    text-align: center;
    padding-top: 300px;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.projects-container-mobile {
    display: none;
}

#myVideo {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

#contact {
    min-height: 100vh;
    background-color: #E8E8E8;
    padding-right: 0;
    padding-left: 0;
    padding-top: 140px;
}

.contact {
    color:black;
}

.contact-me {
    border-style: solid;
    border-width: thick;
    border-color: #616161;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
}

h1 {
    color: #fff;
}

.title {
    font-size: 2.5em;
}

.proj-title:hover {
    transform: scale(1.05);
}

.name {
    color: #4aaaa5;
    font-weight: bolder;
}

.btn-outline-dark {
    background-color: #4aaaa5 !important;
    color: #fff !important;
    border-color: aliceblue;
    box-shadow: 0 0 10px aliceblue;
    outline: none !important;
}

.btn-outline-dark:hover {
    transform: scale(1.05); 
    border-color: aliceblue;
    box-shadow: 0 0 10px aliceblue;
}

.page-link {
    color: #fff !important;
    background-color: #4aaaa5;
    cursor: pointer;
}

.first {
    background-color: black;
}

.first:hover, .second:hover {
    background-color: black !important; 
}

#prev-btn:hover, #next-btn:hover {
    background-color: black !important;
}

.pagination {
    margin-top: 50px !important;
}

    #about-me {
        min-height: 100vh;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 140px;
    }

.sticky {
    position: fixed;
    top: 0;
}

.navbar {
    width: 100%;
    border-color: aliceblue;
    box-shadow: 0 0 20px aliceblue;
    z-index:999;
    margin-bottom: 140px;
    position: fixed;
    top: 0px;
    right: 0px;
}

.navbar-toggler:focus {
    outline: none;
}

.nav-link {
    margin-left: 20px;
    font-size: 18px;
    color: #fff !important;
    text-align: center;
}

.nav-link:hover {
    color: #4aaaa5 !important;
}

#songpro {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    position: relative;
    background: url("../../assets/images/songpro.jpg") no-repeat 0 0;
    background-size: 180px 180px;
    box-shadow: 4px 2px 10px #666;
}

#songpro:hover {
    transform: scale(1.05);
}

.inlineblo {
    display: inline-block;
}

.about {
    text-align: center;
}

#portfolio {
    min-height: 100vh;
    background-color: #f5f5f5;
    padding-top: 140px;
}

.fas, .far {
    margin-bottom: 15px;
    color: #616161;
}

.fa-envelope:hover {
    transform: scale(1.05);
}

.fa-linkedin-in:hover {
    transform: scale(1.05);
}

.fa-mobile:hover {
    transform: scale(1.05);
}

.fa-github:hover {
    transform: scale(1.05);
}

.up-btn {
    background-color: #4aaaa5;
    width: 75px;
    border-radius: 100px;
    margin-bottom: 3.5rem !important;
    margin-top: 50px;
}

.up-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.invisible {
    position: absolute;
    bottom: 0;
}

/*.card {
    border: solid thin black;
    box-shadow: 4px 2px 10px #666;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-img-top {
    height: 200px;
}

.card-body {
    background-color: #4aaaa5;
}

.card {
    margin-bottom: 15px;
}*/

.proj-img {
    box-shadow: 4px 2px 10px #666;
}

.proj-img:hover {
    transform: scale(1.05);
}

.fa-linkedin-in:hover, .fa-envelope:hover,
.fa-github:hover, .fa-mobile:hover {
    color: #4aaaa5 !important;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: inherit;
}

.linky:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 991px) {
    /*.nav-link {
    border-top: 1px solid #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    }    */
    .card-btn {
        margin-top: 0 !important;
    }
    .projects-container {
        display: none;
    }
    .projects-container-mobile {
        display: block;
    }
    .rowproj {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .contact-me {
        margin-left: 0;
        width: 100%;
        border: none;
    }
    .pp1 {
        padding-left: 0;
    }
    .pp2 {
        margin-right: 0;
    }
    .main-container {
        padding-top: 150px;
    }
}

@media screen and (max-width: 590px) {
    .title {
        font-size: 1.5em;
    }
    .card {
        width: 100% !important;
    }
    #portfolio {
        padding-right: 0;
        padding-left: 0;
    }
    #port-card {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 575px) {
    .icons {
        padding-bottom: 20px !important;
    }
    .proj-img {
        width: 100% !important;
    }
    #about-me {
        padding-bottom: 0 !important;
    }
    p {
        font-size: 12px;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
}

    @media screen and (max-width: 360px) {
        .title {
            font-size: 1em;
        }
    }
