@keyframes bgcolor {
0% {
  background-color: #45a3e5
}
30% {
    background-color: #66bf39
}
60% {
    background-color: #eb670f
}
90% {
     background-color: #f35
}
100% {
    background-color: #864cbf
}

}

.main-container {
    min-height: 100vh;
    -webkit-animation: bgcolor 30s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    text-align: center;
    padding-top: 160px;
}

h1 {
    color: #fff;
}

 .name {
    color: #fff;
    font-weight: bolder;
}

.btn-outline-dark {
    color: #fff !important;
    border-color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
}

#about-me {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 200px;
}

.sticky {
    position: fixed;
    top: 0;
}

.navbar {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #4aaaa5;
}

.nav-link {
    margin-left: 20px;
    font-size: 18px;
    color: #fff !important;
}

.nav-link:hover {
    color: #4aaaa5 !important;
}

#songpro {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    position: relative;
    background: url("https://media.licdn.com/dms/image/C5603AQFC7--hWXZmDw/profile-displayphoto-shrink_200_200/0?e=1569456000&v=beta&t=Swhygd_UTbNIShSd-DMbndRudUWUZygxpdvNHh1McHc") no-repeat 0 0;
    background-size: 190px 190px;
    box-shadow: inset 0px 0px 10px 2px #5f5f5f;
}

.inlineblo {
    display: inline-block;
}

.about {
    text-align: center;
    margin-top: 140px;
}

#portfolio {
    background-color: #f5f5f5;
    height: 500px;
}
@media screen and (max-width: 500px) {
    .main-container {
        padding-top: 100px;
    }
    h1 {
        font-size: 1.5em;
    }
}
