@keyframes bgcolor {
0% {
  background-color: #45a3e5
}
30% {
    background-color: #66bf39
}
60% {
    background-color: #eb670f
}
90% {
     background-color: #f35
}
100% {
    background-color: #864cbf
}

}

.main-container {
    min-height: 100vh;
    -webkit-animation: bgcolor 30s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    text-align: center;
    padding-top: 100px;
}

#contact {
    min-height: 100vh;
    background-color: black;
    padding-bottom: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 140px;
}

.contact {
    color:#fff;
}

.contact-me {
    border-style: solid;
    border-width: thick;
    border-color: #fff;
    border-radius: 10px;
    width:50%;
    margin-left: 25%;
}

h1 {
    color: #fff;
}

.title {
    font-size: 2.5em;
}

 .name {
    color: #fff;
    font-weight: bolder;
}

.btn-outline-dark {
    color: #fff !important;
    border-color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
}

#about-me {
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 200px;
    padding-top: 140px;
}

.sticky {
    position: fixed;
    top: 0;
}

.navbar {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #4aaaa5;
    z-index:999;
    margin-bottom: 140px;
    position: fixed;
    top: 0px;
    right: 0px;
}

.nav-link {
    margin-left: 20px;
    font-size: 18px;
    color: #fff !important;
    text-align: center;
}

.nav-link:hover {
    color: #4aaaa5 !important;
}

#songpro {
    width: 194px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    position: relative;
    background: url("https://i.pinimg.com/originals/3d/ff/40/3dff40ec57ed0ff20a449f51647b0f21.jpg") no-repeat 0 0;
    background-size: 190px 190px;
    box-shadow: inset 0px 0px 10px 2px #5f5f5f;
}

.inlineblo {
    display: inline-block;
}

.about {
    text-align: center;
}

#portfolio {
    min-height: 100vh;
    background-color: #f5f5f5;
    padding-top: 140px;
}

.fas, .far {
    margin-bottom: 15px;
}

.up-btn {
    background-color: #4aaaa5;
    width: 60px;
    border-radius: 100px;
    margin-bottom: 3.5rem !important;
    margin-top: 50px;
}

.up-btn:hover {
    border-style: solid;
    border-width: medium;
    border-color: #fff;
}

.invisible {
    position: absolute;
    bottom: 0;
}

.card {
    border: solid thin black;
}

.card-img-top {
    height: 200px;
}

.card-body {
    background-color: #4aaaa5;
}

@media screen and (max-width: 992px) {
    .nav-link {
border-top: 1px solid #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    }
}

@media screen and (max-width: 750px) {
    .contact-me {
        margin-left: 0;
        width: 100%;
    }
    .main-container {
        padding-top: 100px;
    }

    h1 {
        font-size: 1.5em;
    }
    .pp1 {
        padding-left: 0;
    }
    .pp2 {
        margin-right: 0;
    }
}

@media screen and (max-width: 590px) {
    .title {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 360px) {
    .title {
        font-size: 1em;
    }
}
